%h1= @client.name

- if can? :create, Survey
  .bloc
    .title Actions
    .content
      = link_to "Créer un nouveau questionnaire", new_client_survey_path(@client), :class => "button"

.bloc
  .title Questionnaires
  .content
    %table
      %thead
        %tr
          %th Titre
      %tbody
        - @client.surveys.each do |s|
          %tr
            %td= link_to s.title, client_survey_path(@client, s)
  