%h1= @client.name

.bloc
  .title Actions
  .content
    = link_to "Créer un nouveau questionnaire", new_client_survey_path(@client)

.bloc
  .title Questionnaires
  .content
    %table
      %thead
        %tr
          %th Titre
      %tbody
        - @client.surveys.each do |s|
          %tr
            - logger.debug s.inspect
            %td= link_to s.title, client_survey_path(@client, s)
  