%li.choice
  = f.hidden_field :position, :class => "position"
  %fieldset
    %legend Choix
    %div
      = link_to_remove_fields image_tag('icons/actions/delete.png'), f, :selector => ".choice"
    = f.input :title
    = f.input :ext_id
